<!-- 
생산자: 배다원
생성일: 10/01
연락처: dawnzeze@gmail.com
-->
<html layout:decorate="~{layout}">
<div layout:fragment="content">

<div style="background-color: #ebf6eb;">
<div style="margin-top:100px;"></div>
<div class="row min-vh-100 p-5" style="justify-content: center; align-items: center;">
    <div class="col-12 col-lg-8 text-center">
        <div class="row g-5">
        	<div class="col-12 col-lg-6 text-lg-start">
                <img class="img-fluid mb-4" src="/img/500number.png" alt="404 image">
                <h2 class="fw-bold mb-3">요청을 처리할 수 없습니다.</h2>
                <p class="mb-5"></p>
                <a class="btn btn-lg btn-secondary" href="/">메인페이지로</a>
            </div>
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="/img/500child.png" alt="404 illustration" width="400">
            </div>
            
        </div>
    </div>
</div>
</div>

</div>
</html>