<!-- 
생성자 : 김근환 
생성일 : 9.25
연락처 : ghwan07@gmail.com
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아동 추가</title>
</head>
<body>
    <h1>아동 추가</h1>
    <form th:action="@{/add_child}" th:object="${child}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="chname">이름:</label>
            <input type="text" id="chname" th:field="*{chname}" class="form-control" placeholder="이름을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="chdob">생년월일:</label>
            <input type="date" id="chdob" th:field="*{chdob}" class="form-control" placeholder="생년월일을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="chgender">성별:</label>
            <input type="text" id="chgender" th:field="*{chgender}" class="form-control" placeholder="성별을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="chlocation">거주지:</label>
            <input type="text" id="chlocation" th:field="*{chlocation}" class="form-control" placeholder="거주지를 입력해주세요">
        </div>
        <div class="form-group">
            <label for="chdesc">아동 설명:</label>
            <textarea id="chdesc" th:field="*{chdesc}" class="form-control" placeholder="아동 설명을 입력해주세요"></textarea>
        </div>
        <div class="form-group">
            <label for="file">이미지:</label>
            <input type="file" id="file" name="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</body>
</html>
