<!-- 
생성자 : 김근환 
생성일 : 9.27
연락처 : ghwan07@gmail.com
-->
<html layout:decorate="~{layout}">
<div layout:fragment="content">

<!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->
<div class="container-fluid page-header py-5" style="padding-bottom: 30px;">
    <!-- 상단 헤더 -->
    <h1 class="text-center text-white display-6">아동에게 전달되는 편지</h1>
    
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/news">공지사항</a></li>
        <li class="breadcrumb-item"><a href="/news/info">소식</a></li>
        <li class="breadcrumb-item"><a href="/news/assist">고객지원</a></li>
        <li class="breadcrumb-item"><a href="/news/address">찾아오시는 길</a></li>
    </ol>
</div>

<!-- 편지 작성 폼 -->
<form action="#" th:action="@{/send_letter}" method="post">
    <input type="hidden" name="childId" th:value="${child.chid}" />
    <div class="form-group">
        <textarea class="form-control" id="summernote" name="message" rows="4"></textarea>
    </div>
    <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary mt-3 float-end">
    <i class="fa fa-envelope me-2 text-primary"></i>편지 보내기</button>

</form>
<script>
    $('#summernote').summernote({
        placeholder: '내용을 입력해 주세요.',
        tabsize: 2,
        height: 350,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
        ]
    });
</script>


</div>
</html>