<!-- 
생성자 : 배다원 
생성일 : 9.12
연락처 : dawnzeze@gmail.com
-->
<html xmlns:th="http://www.thymeleaf.org">

<div class="col-lg-3 bg-light rounded p-4">
	<div class="row g-4">
		<div class="col-lg-12">
			<div class="mb-3">
				<h4>Categories</h4>
				<ul class="list-unstyled fruite-categorie">
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info1"><i class="fas fa-apple-alt me-2"></i>기업소식</a>
							<span>(3)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info2"><i class="fas fa-apple-alt me-2"></i>후원금
								사용내역</a> <span>(5)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info3"><i class="fas fa-apple-alt me-2"></i>진행
								프로젝트</a> <span>(2)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info4"><i class="fas fa-apple-alt me-2"></i>피후원자
								추가안내</a> <span>(8)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info5"><i class="fas fa-apple-alt me-2"></i>명예후원자</a>
							<span>(5)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info6"><i class="fas fa-apple-alt me-2"></i>인재채용</a>
							<span>(5)</span>
						</div>
					</li>
					<li>
						<div class="d-flex justify-content-between fruite-name">
							<a href="/news/info7"><i class="fas fa-apple-alt me-2"></i>보도자료</a>
							<span>(8)</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

</html>