<!-- 
생성자 : 배다원 
생성일 : 9.10
연락처 : dawnzeze@gmail.com
-->
<html layout:decorate="~{layout}">
<div layout:fragment="content">




	<div class="container-fluid page-header py-5">
		<h1 class="text-center text-white display-6">기업정보</h1>
		<ol class="breadcrumb justify-content-center mb-0">
			<li class="breadcrumb-item"><a href="/news">공지사항</a></li>
			<li class="breadcrumb-item"><a href="/news/info">소식</a></li>
			<li class="breadcrumb-item"><a href="/news/assist">고객지원</a></li>
			<li class="breadcrumb-item"><a href="/news/address">찾아오시는 길</a></li>
		</ol>
	</div>




	<div class="container-fluid fruite py-5">
		<div class="container py-5">
			<h1 class="mb-4">[[${cateValue}]]</h1>
			<div class="row g-4">
			
							
				<div class="p-5">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="mx-auto" >
                                <h1 class="text-primary">[[${news.ntitle}]]</h1>
                                <p class="mb-4"> <a th:href="@{|/news/${news.ncate}|}">[[${cateValue}]]</a><br> 작성일 : [[${news.ndate}]] </p>
                            	<hr>
                            </div>
                        </div>
                       
                        <div class="">
                           
                                	<div style = "height : 50vh;" th:utext="${news.ndesc}"></div>
<!--                                 <textarea class="w-100 form-control border-0 mb-4" rows="30" cols="10" placeholder="내용 없음">[[${news.ndesc}]]</textarea>
 -->     
                        </div>
                        
                        
                        <div class="d-flex justify-content-between py-3 mb-5">
                         	<a th:href="@{|/news/${news.ncate}|}" class="btn border border-secondary text-primary px-4 py-2"> 목록보기</a> 
                         	<div>
                         		<a th:href = "@{|/news/update/${news.nid}|}" class="btn btn-success px-4 py-2"> 수정</a>  
                            	<a th:href = "@{|/news/${news.ncate}/delete/${news.nid}|}" class="btn btn-danger px-4 py-2"> 삭제</a> 
                         	</div>
                            
                        </div>
                    </div>
                
                
                
                </div>
							

				
				
				
			</div>
		</div>
	</div>
















</div>
</html>