<!-- 
생성자 : 배다원 
생성일 : 9.10
연락처 : dawnzeze@gmail.com
-->
<html layout:decorate="~{layout}">
<div layout:fragment="content">






	<div class="container-fluid page-header py-5">
		<h1 class="text-center text-white display-6">기업정보</h1>



		<ol class="breadcrumb justify-content-center mb-0">
			<li class="breadcrumb-item"><a href="/news">공지사항</a></li>
			<li class="breadcrumb-item"><a href="/news/info">소식</a></li>




			<li class="breadcrumb-item"><a href="/news/assist">고객지원</a></li>
			<li class="breadcrumb-item"><a href="/news/address">찾아오시는 길</a></li>
		</ol>
	</div>






	<div class="container-fluid fruite py-5">
		<div class="container py-5">
			<h1 class="mb-4">검색결과</h1>
			<div class="row g-4 ">
				<div class="col-lg-12 ">
					<div class="row g-4 p-2">
						<div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
								<input type="text" class="form-control p-3"
									placeholder="검색어를 입력하세요" th:value="${kw}" id="search_kw">
								<button class="btn btn-primary " type="submit" id="btn_search">
									<i class="fa fa-search"></i>
								</button>
							</div>
							<form th:action="@{/news/search}" method="get" id="searchForm">
								<input type="hidden" id="kw" name="kw" th:value="${kw}">
								<input type="hidden" id="page" name="page"
									th:value="${paging.number}">
							</form>
						</div>
						<div class="col-7">
							
						</div>
						<div class="col-xl-2">
						
<!-- 							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
									<a href="/news/notice/create" class="btn btn-primary"
										type="button">글쓰기</a>
							</div> -->
							
							
							
						</div>
					</div>
					<div class="">

						<div class="">
							<div class="row g-4 justify-content-center ">


								<div class="table-responsive ">



									<table class="table">
										<thead>
											<tr>
												<th scope="col" style="width: 10%;">번호</th>
												<th scope="col" style="width: 70%;">제목</th>
												<!-- 제목의 가로폭을 70%로 설정 -->
												<th scope="col" style="width: 20%;">작성일</th>
											</tr>
										</thead>
										<tbody>



											<!-- <th:block th:each = "news:${newsl}"> -->
											<th:block th:each="news, loop:${paging}">



												<tr>
													
													<td><p class="mb-0 mt-4">[[${paging.getTotalElements
															- (paging.number * paging.size) - loop.index}]]</p></td>
													<td>
														<p class="mb-0 mt-4">
															<a th:href="@{|/news/article/${news.nid}|}">[[${news.ntitle}]]</a>
														</p> <!-- 제목 예시 텍스트 -->
													</td>
													<td>
														<p class="mb-0 mt-4">[[${news.ndate}]]</p>
													</td>
												</tr>
											</th:block>
										</tbody>
									</table>


								</div>
								
<!-- 페이징 -->
<!-- 검색페이지 페이징은 th:href 부분에 kw 값을 갖게 해야한다. -->
								<div th:if="${!paging.isEmpty()}">
									<ul class="pagination justify-content-center">
										<li class="page-item"
											th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
											class="page-link" th:href="@{|?kw=${kw}&page=${paging.number-1}|}">
												<span>이전</span>
										</a></li>
										<li
											th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
											th:if="${page >= paging.number-5 and page <= paging.number+5}"
											th:classappend="${page == paging.number} ? 'active'"
											class="page-item"><a th:text="${page}" class="page-link"
											th:href="@{|?kw=${kw}&page=${page}|}"></a></li>
										<li class="page-item"
											th:classappend="${!paging.hasNext} ? 'disabled'"><a
											class="page-link" th:href="@{|?kw=${kw}&page=${paging.number+1}|}">
												<span>다음</span>
										</a></li>
									</ul>
								</div>



								<div class="d-grid gap-2 d-md-flex justify-content-md-end">
									<a href="/news/1/create" class="btn btn-primary"
										type="button">글쓰기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







	</div>









<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>




</div>
</html>