/* body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
} */

/*챗봇용 css*/
.chat-icon {
	position: fixed;
	bottom: 100px;
	right: 30px;
	background: #7FC30F;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	width: 40px;  /* 원하는 너비 */
	height: 40px; /* 원하는 높이 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex; /* 추가 */
    align-items: center; /* 추가 */
    justify-content: center; /* 추가 */
	
}

.chat-icon .icon {
	width: 10px;
	height: 10px;
	fill: white;
	align-items: center;      /* 수직 가운데 정렬 */
	justify-content: center;
}

.chat-widget {
	display: none;
	position: fixed;
	bottom: 150px;
	right: 20px;
	width: 300px;
	border: 1px solid #7FC30F;
	border-radius: 5px;
	background: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 10; /*상단으로 고정*/
	
}

.chat-header {
	background: #7FC30F;
	color: white;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.chat-body {
	padding: 10px;
	height: 200px;
	overflow-y: auto;
}

.chat-footer {
	display: flex;
	padding: 10px;
}

.chat-footer input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.chat-footer button {
	padding: 10px;
	background: #7FC30F;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}