<!--
admin/qa/readQAList.html
생산자: 이강혁
생성날짜: 9.19
연락처: rkdgur5381@gmail.com
 -->
<html layout:decorate="~{admin/admin}">
<div layout:fragment="content" class="col-lg-9">
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">1:1 문의</h6>
        <a href = "/news/qa/create">글 작성</a>
      </div>
      <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
          <thead>
          <tr class="text-dark">
            <th scope="col"><input class="form-check-input" type="checkbox"></th>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성일</th>
            <th scope="col">답변</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="qa:${qaList}">
            <tr>
              <td><input class="form-check-input" type="checkbox"></td>
              <td>[[${qa.qid}]]</td>
              <td>[[${qa.subject}]]</td>
              <td>[[${qa.qdate.toLocalDate()}]]</td>
              <td>[[${qa.answer.size()}]]</td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</html>