<!-- 
memberInform.html
생성자: 김가은
생성날짜: 9.11
수정날짜: 9.19
연락처: kkydu007@naver.com

 -->

<html layout:decorate="~{layout}">
<div layout:fragment="content">


	<!-- 회원가입 폼 시작 -->
	<div class="container-fluid py-5">
		<div class="container py-5 text-center">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<h1 class="display-4">회원가입</h1>

					<form th:action="@{/signup}" th:object="${customerCreateForm}" method="post">
							<div th:replace="~{form_errors :: formErrorsFragment}"></div>


						<input th:field="*{name}" type="text"
							class="form-control border-0 me-4" placeholder="제목을 입력하세요">

						<p class="mb-4 mt-3">※8자 이상 대문자, 소문자, 숫자, 특수문자 중 3가지 이상을 사용해
							주세요.</p>

						<!-- Checkboxes start -->
						<!-- <div class="form-group mb-2 text-start">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="agreeTerms"
									required> <label class="form-check-label"
									for="agreeTerms"> 아이노리의 이용 약관 및 개인 정보 처리 방침에 동의합니다. </label>
							</div>
						</div>

						<div class="form-group mb-4 text-start">
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									id="ageVerification" required> <label
									class="form-check-label" for="ageVerification"> 나는 만
									18세 이상입니다. 만 18세 미만의 경우 보호자(법정대리인)의 동의를 얻었습니다. </label>
							</div>
						</div> -->
						<!-- Checkboxes end -->

						<button type="submit" class="btn btn-primary w-100 py-2">회원가입</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 회원가입 폼 끝 -->
</div>
</html>