<!--
navbar.html
생산자: 이강혁
생성날짜: 9.10
연락처: rkdgur5381@gmail.com
 -->
<nav th:fragment="navbarFragment" class="container-fluid fixed-top" style="top:0;">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-link ps-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small></a>
            </div>
            <div class="top-link pe-2">
                
                <div sec:authorize="isAnonymous()">
                <a href="/signin" class="text-white"><small class="text-white mx-2">로그인</small></a>
                <a href="/signup" class="text-white"><small class="text-white mx-2">회원가입</small></a>
                
                
                </div>
                
				<div sec:authorize="isAuthenticated()">
				<small  class ="text-white mx-2">[[${#authentication.name}]]</small>
				<span th:text="${#authentication.authorities}"></span>
				<a href="/signout" class="text-white"><small class="text-white mx-2">로그아웃</small></a>
				
				</div>
            </div>
        </div>
    </div>
    <div class="container pt-3 px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="/" class="navbar-brand">
                <img src="/img/logo_inuri.png" alt="INURI" style="width: 70%"/>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/child_list" class="nav-item nav-link">후원 아동</a>
                    <a href="/news" class="nav-item nav-link">소식</a>
                    <a href="/admin" class="nav-item nav-link">관리자</a>
                </div>
                <!--                마이페이지-->
                <div class="d-flex m-3 pe-5 me-0">
                    <a href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</nav>