<!--
admin/leftNav.html
생산자: 이강혁
생성날짜: 9.10
연락처: rkdgur5381@gmail.com
 -->
<div th:fragment="leftNav" class="col-lg-3">
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar navbar-light">
            <h3 class="text-primary">ADMIN</h3>
            <div class="navbar-nav w-100">
                <a href="/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="cursor:pointer"><i
                            class="fa fa-laptop me-2"></i>후원 아동 관리</a>
                    <div class="dropdown-menu bg-transparent border-0" style="padding:0;margin:0">
                        <a href="/admin/children" class="dropdown-item">후원 아동 목록</a>
                        <a href="/admin/children/add" class="dropdown-item">후원 아동 등록</a>
                    </div>
                </div>
                <a href="/admin/patrons" class="nav-item nav-link"><i class="fa fa-th me-2"></i>후원자 관리</a>
                <a href="/admin/faq" class="nav-item nav-link"><i class="fa fa-th me-2"></i>FAQ 관리</a>
                <a href="/admin/patrons" class="nav-item nav-link"><i class="fa fa-th me-2"></i>1:1문의</a>
            </div>
        </nav>
    </div>
</div>
