<!--
admin/leftNav.html
생산자: 이강혁
생성날짜: 9.10
연락처: rkdgur5381@gmail.com
 -->
<div th:fragment="leftNav" class="col-lg-3">
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar navbar-light">
            <h3 class="text-primary">ADMIN</h3>
            <div class="navbar-nav w-100">
                <a href="/admin" class="nav-item nav-link active">Dashboard</a>
                <a href="/admin/children" class="nav-item nav-link">후원 아동 목록</a>
                <a href="/admin/patrons" class="nav-item nav-link">후원자 관리</a>
                <a href="/admin/donations" class="nav-item nav-link">후원 관리</a>
                <a href="/admin/faq" class="nav-item nav-link">FAQ 관리</a>
                <a href="/admin/qalist" class="nav-item nav-link">1:1문의</a>
            </div>
        </nav>
    </div>
</div>


<!--<a href="/admin/children/add" class="dropdown-item">후원 아동 등록</a>-->