<html layout:decorate="~{admin/admin}">
<div layout:fragment="content" class="col-lg-9">
    <div class="row g-4 justify-content-center">
        <div class="container-fluid pt-4 px-4">
            <div class="col g-4">
                <div class="row g-4 mb-5">
                    <div class="col-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">오늘 후원금</p>
                                <h6 class="mb-0">1234 원</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">누적 후원금</p>
                                <h6 class="mb-0">1234 원</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">후원 아동 수</p>
                                <h6 class="mb-0">234 명</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">후원자</p>
                                <h6 class="mb-0">1234 명</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>